/Scenarios/*.bat
/Scenarios/ALKS_MASTER_Scenario_TEMPLATE.xosc
/Scenarios/ALKS_Scenario_4_1_CutInNoCollision_TEMPLATE_esmini.xosc
/Scenarios/ALKS_Scenario_4_2_CutInUnavoidableCollision_TEMPLATE_esmini.xosc
