name: Validate OpenX files with xmllint

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  validate_openx_files_with_xmllint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Validate all scenarios
        uses: ./.github/actions/xmllint
        with:
          FILE: ./Scenarios/ALKS_Scenario_4.1_1_FreeDriving_TEMPLATE.xosc ./Scenarios/ALKS_Scenario_4.1_2_SwervingLeadVehicle_TEMPLATE.xosc ./Scenarios/ALKS_Scenario_4.1_3_SwervingSideVehicle_TEMPLATE.xosc ./Scenarios/ALKS_Scenario_4.2_1_FullyBlockingTarget_TEMPLATE.xosc ./Scenarios/ALKS_Scenario_4.2_2_PartiallyBlockingTarget_TEMPLATE.xosc ./Scenarios/ALKS_Scenario_4.2_3_CrossingPedestrian_TEMPLATE.xosc ./Scenarios/ALKS_Scenario_4.2_4_MultipleBlockingTargets_TEMPLATE.xosc ./Scenarios/ALKS_Scenario_4.3_1_FollowLeadVehicleComfortable_TEMPLATE.xosc ./Scenarios/ALKS_Scenario_4.3_2_FollowLeadVehicleEmergencyBrake_TEMPLATE.xosc ./Scenarios/ALKS_Scenario_4.4_1_CutInNoCollision_TEMPLATE.xosc ./Scenarios/ALKS_Scenario_4.4_2_CutInUnavoidableCollision_TEMPLATE.xosc ./Scenarios/ALKS_Scenario_4.5_1_CutOutFullyBlocking_TEMPLATE.xosc ./Scenarios/ALKS_Scenario_4.5_2_CutOutMultipleBlockingTargets_TEMPLATE.xosc ./Scenarios/ALKS_Scenario_4.6_1_ForwardDetectionRange_TEMPLATE.xosc ./Scenarios/ALKS_Scenario_4.6_2_LateralDetectionRange_TEMPLATE.xosc ./Catalogs/Controllers/ControllerCatalog.xosc ./Catalogs/MiscObjects/MiscObjectCatalog.xosc ./Catalogs/Vehicles/VehicleCatalog.xosc ./Catalogs/Pedestrians/PedestrianCatalog.xosc ./Variations/ALKS_Scenario_4.1_1_FreeDriving_Variation.xosc ./Variations/ALKS_Scenario_4.1_2_SwervingLeadVehicle_Variation.xosc ./Variations/ALKS_Scenario_4.1_3_SwervingSideVehicle_Variation.xosc ./Variations/ALKS_Scenario_4.2_1_FullyBlockingTarget_Variation.xosc ./Variations/ALKS_Scenario_4.2_2_PartiallyBlockingTarget_Variation.xosc ./Variations/ALKS_Scenario_4.2_3_CrossingPedestrian_Variation.xosc ./Variations/ALKS_Scenario_4.2_4_MultipleBlockingTargets_Variation.xosc ./Variations/ALKS_Scenario_4.3_1_FollowLeadVehicleComfortable_Variation.xosc ./Variations/ALKS_Scenario_4.3_2_FollowLeadVehicleEmergencyBrake_Variation.xosc ./Variations/ALKS_Scenario_4.3_2_FollowLeadVehicleEmergencyBrake_Variation_Reference.xosc ./Variations/ALKS_Scenario_4.4_1_CutInNoCollision_Variation.xosc ./Variations/ALKS_Scenario_4.5_1_CutOutFullyBlocking_Variation.xosc ./Variations/ALKS_Scenario_4.5_2_CutOutMultipleBlockingTargets_Variation.xosc ./Variations/ALKS_Scenario_4.6_1_ForwardDetectionRange_Variation.xosc ./Variations/ALKS_Scenario_4.6_2_LateralDetectionRange_Variation.xosc
          SCHEMA: ./.github/workflows/OpenSCENARIO_StrictValidation_1_1.xsd
      - name: Validate all maps
        uses: ./.github/actions/xmllint
        with:
          FILE: ./Scenarios/ALKS_Road.xodr ./Scenarios/ALKS_Road_Different_Curvatures.xodr
          SCHEMA: ./.github/workflows/opendrive_16_core.xsd
